<h1>Rotten Mangoes</h1>

<% unless !current_user %> 
  <%= link_to "Submit a movie!", new_movie_path %>
<% end %>  

<hr>

<% if params[:keyword].present? || params[:duration].present? %>
  <p><%= link_to "Back to all movies", movies_path %></p>
<% end %>

<%= form_tag movies_path, :method => 'get', id: "movies-search" do %>
  <%= text_field_tag :keyword, params[:keyword], placeholder: "Title or Director" %>
  <%= select_tag "duration", "<option>Any duration</option><option>Under 90 minutes</option><option>Between 90 and 120 minutes</option><option>Over 120 minutes</option>".html_safe %> 
  <p><%= submit_tag "Search", name: nil %></p> 
<% end %>

<%= render 'movie' %>