<h1>All Users</h1>

<%= paginate @users %>

<table>
  <tr>
    <th>User ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.firstname + " " + user.lastname %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Delete", admin_user_path %>
    </tr>
  <% end %>
</table>



<!-- # <% @users.each do |user| %>
#   <h4>Name: <%= user.full_name %></h4>
#   <h4>Email: <%= user.email %></h4>
#   <hr>
# <% end %> -->