<%= link_to "Back to all movies", movies_path %>

<h1>All Users</h1>

<%= paginate @users %>

<table>
  <tr>
    <th>User ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
    <td><%= user.id %></td>
    <td><%= user.firstname + " " + user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= link_to "Delete", admin_user_path(user), method: :delete, data: {confirm: "Are you sure you'd like to delete this user?"} %>
    </tr>
  <% end %>
</table>
